.middle {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-left: 6px solid grey;
    border-right: 6px solid grey;
    /*text-align: justify;*/
    width: 80%;
    overflow: hidden;
}

    .middle .MiddleContainer {
        margin-left: 10px;
        margin-top: 40px;
    }

    .middle .p1 {
        border-bottom: 3px solid grey;
        font-size: 30px;
    }
    .middle .p2 {
        border-bottom: 1px solid #007acc;
        font-size: 25px;
    }
    .middle .p3 {
        font-size: 20px;
    }
