@import url('Left.css');
.body {
    background: #2d2d30;
    font-family: Consolas;
    color: #f1f1f1;
}

.main {
    
}

.header {
    text-align: left;
}

.h1 {
    color: #d0e6f5;
}
    
    .h1 .span {
        background: #007acc;
    }
.pre {
    font-size: large;
    text-align: left;
}
.container {
    display: flex;
    flex: 1;
    background: #1e1e1e;
    padding: 10px;
    overflow: hidden;
}

    /*.container > div {
        flex: 1 2 1; grow
        display: table;
        background: #1e1e1e;
        height: inherit;
        padding: 10px;
    }*/


.middle {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-left: 6px solid grey;
    border-right: 6px solid grey;
    text-align: justify;
    width: 80%;
    font-size: x-large;
    overflow: hidden;
}

.right {
    text-align: justify;
    float: right;
    font-size: larger;
    overflow: hidden;
}

.footer {
    text-align: center;
    width: 100%;
    bottom: 0;
}

.container a {
    color: #f1f1f1;
    text-decoration: none;
}

    .container a:link, .container a:visited, .container a:hover, .container a:active {
        text-decoration: none;
    }

.container .h1 .span {
    background: #007acc;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
