@import url('Left.css');
@import url('Middle.css');
@import url('Right.css');
@import url('HeaderFooter.css');

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.body {
    background: #2d2d30;
    font-family: Consolas;
    color: #f1f1f1;
}

.h1 {
    color: #d0e6f5;
}
    
    .h1 .span {
        background: #007acc;
    }
.pre {
    font-size: large;
    text-align: left;
}
.container {
    display: flex;
    flex: 1;
    background: #1e1e1e;
    padding: 10px;
    overflow: hidden;
}

.container a {
    color: #f1f1f1;
    text-decoration: none;
}

    .container a:link, .container a:visited, .container a:hover, .container a:active {
        text-decoration: none;
    }

.container .h1 .span {
    background: #007acc;
}